<div id="zip_members" data-hook="member">
  <fieldset class="no-border-bottom">
    <legend align="center"><%= Spree.t(:zipcode) %></legend>

    <% @zone.zipcode_ranges.build unless @zone.zipcode_ranges.any? %>
    <%= zone_form.fields_for :zipcode_ranges do |range_form| %>
      <%= zone_form.field_container :zipcode_ranges do %>
        <%= range_form.label :start, "Início da faixa de CEP (5 primeiros dígitos)" %><br>
        <%= range_form.text_field :start, class: "fullwidth" %>
      <% end %>

      <%= zone_form.field_container :zipcode_ranges do %>
        <%= range_form.label :end, "Fim da faixa de CEP (5 primeiros dígitos)" %><br>
        <%= range_form.text_field :end, class: "fullwidth" %>
      <% end %>
    <% end %>
  </fieldset>
</div>
